.caps_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    &--img{
        width: 50%;
        object-fit: contain;
    }
    &--details {
        padding: 0 0 0 2px;
        width:50%;
        overflow-wrap: break-word;
    }
    &--element{
        margin: 2%;
        padding: 2px 0 2px 5px;
        width: 45%;
        display:flex;
        align-items: flex-start;   
        &__green{
            border: 1px solid var(--vt-c-indigo); 
        } 
        &__red{
            border: 1px solid red; 
        }
        #menu #list {
            max-height: 0;
            transition: max-height 0.5s ease-out;
            overflow: hidden;
        }
        
        h2:hover + #menu #list,#menu:hover #list{
            max-height: 500px;
            transition: max-height 0.5s ease-in;
            transition-delay: 0.5s;
            cursor: pointer;
        }
        h3{
            max-height:200px;
            opacity:1;
            transition: max-height 0.5s ease,opacity 0.5s ease-out;
            transition-delay: 0.5s;
        }
        h2:hover ~ h3,#menu:hover ~ h3{
            max-height:0;
            opacity:0;
            transition: max-height 0.5s ease,opacity 0.5s ease-in;
        }
    }
    h2{
        color:var(--main-text-color);
        border-bottom: 1px solid;
    }
    
}
