<div class="caps_wrapper">
    <div v-if="infoProp" v-for="(cap,i) in infoProp" class="caps_wrapper--element" :class="cap.launch_success==false?'caps_wrapper--element__red':'caps_wrapper--element__green'">
        <img :src="cap.links.mission_patch_small" class="caps_wrapper--img"/>
        <div class="caps_wrapper--details">
            <h2>{{cap.mission_name}}</h2>
            <div id="menu">
                <div id="list">
                    <p v-if="cap.details">{{cap.details}}</p>
                    <p v-else="">No specific details!</p>
                    <h3><a :href="cap.links.article_link">read more... </a></h3>
                </div>
            </div>
            <h3>Year : <span> {{cap.launch_year}}</span></h3>
            <h3>Rocket : <span>{{cap.rocket.rocket_name}}</span></h3>
            <h3>Site : <span>{{cap.launch_site.site_name}}</span></h3>
        </div>
    </div>
</div>